feedparser==6.0.11
requests==2.33.0
beautifulsoup4==4.12.3
lxml==6.1.1
snowflake-connector-python==3.13.1
transformers==4.53.0
torch==2.9.0
vaderSentiment==3.3.2
textblob==0.18.0
mlflow==3.11.0
groq==0.11.0
dbt-snowflake==1.8.4
apache-airflow==3.2.0
pytest==9.0.3
pytest-mock==3.14.0
python-dotenv==1.2.2
pandas==2.1.4
